<div *ngIf="chitiethoadon">
    <div class="modal-header">
        <h4 class="modal-title" >Xác nhận xóa </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <p >Bạn có muốn xóa chi tiết hóa đơn {{chitiethoadon.id}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"(click)="clear()">Cancel</button>
        <button type="button" id="confirmDeleteButton" class="btn btn-danger" (click)="confirmDelete(chitiethoadon.id)">Delete</button>
      </div>
</div>
