<div class="table-wrapper row">
    <div class="table-title row">
        <div class="col-sm-6">
            <h2>Quản Lý Khuyến Mãi</h2>
        </div>
        <div class="col-sm-6">
            <a (click)="openCreate()" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                <span>Thêm mới khuyến mãi</span></a>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Mã Khuyến Mãi</th>
                <th>Tên Khuyến Mãi</th>
                <th>Hình Ảnh</th>
                <th>Ngày Bắt Đầu</th>
                <th>Ngày Kết Thúc</th>
                <th>Giá Giảm</th>
                <th>Nội Dung Khuyến Mãi</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="khuyenmai">
            <tr *ngFor="let km of khuyenmai">
                <td>{{km.id}}</td>
                <td>{{km.tenkm}}</td>
                <td>
                    <img src="{{km.hinhanhtemp}}" alt="{{km.hinhanh}}" style="
                    height: 100px;
                    width: 80px;
                ">
                </td>
                <td>{{km.ngaybd}}</td>
                <td>{{km.ngaykt}}</td>
                <td>{{km.giagiam}}</td>
                <td>{{km.noidung}}</td>
                <td>
                    <a (click)="openUpdate(km)" class="btn btn-default"><em class="fa fa-pencil"></em></a>
                    <a (click)="openDelete(km)" class="btn btn-danger"><em class="fa fa-trash-o fa-lg"></em></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>