<div *ngIf="nhacungcap">
    <div class="modal-header">
        <h4 class="modal-title">Xác nhận xóa nhà cung cấp </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <p>Bạn có muốn xóa nhà cung cấp {{nhacungcap.id}} - {{nhacungcap.tenncc}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">Cancel</button>
        <button type="button" id="confirmDeleteButton" class="btn btn-danger"
            (click)="confirmDelete(nhacungcap.id)">Delete</button>
    </div>
</div>