<div class="table-wrapper row">
    <div class="table-title row">
            <div class="col-sm-6">
                <h2>Quản Lý Phiếu Nhập Kho</h2>
            </div>
            <div class="col-sm-6">
                <a (click)="openCreate()" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm mới phiếu nhập kho</span></a>
            </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Mã Số</th>
                <th>Tên Phiếu Nhập Kho</th>
                <th>Mã Nhân Viên</th>
                <th>Mã Nhà Cung Cấp</th>
                <th>Ngày Nhập</th>
                <th>Tổng Giá trị</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="phieunhapkho">
            <tr *ngFor="let pnk of phieunhapkho" >
                <td>{{pnk.id}}</td>
                <td>{{pnk.tenphieunhap}}</td>
                <td>{{nv.id}}</td>
                <td>{{ncc.id}}</td>
                <td>{{pnk.ngaynhap}}</td>
                <td>{{pnk.tonggiatri}}</td>
                <td>
                    <a (click)="openUpdate(pnk)" class="btn btn-default"><em class="fa fa-pencil"></em></a> 
                    <a (click)="openDelete(pnk)" class="btn btn-danger"><em class="fa fa-trash-o fa-lg"></em></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
