<div class="table-wrapper row">
    <div class="table-title row">
            <div class="col-sm-6">
                <h2>Quản Lý Phiếu Nhập</h2>
            </div>
            <div class="col-sm-6">
                <a (click)="openCreate()" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm mới phiếu nhập </span></a>
            </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Mã Số</th>
                <th>Ngày Nhập </th>
                <th>Tổng Giá Trị</th>
                <th>Mã Nhà Cung Cấp</th>
                <th>Mã Nhân Viên</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="phieunhap">
            <tr *ngFor="let pn of phieunhap" >
                <td>{{pn.id}}</td>
                <td>{{pn.ngaynhap}}</td>
                <td>{{pn.tonggiatri}}</td>
                <td>{{ncc.id}}</td>
                <td>{{nv.id}}</td>
                <td>
                    <a (click)="openUpdate(pn)" class="btn btn-default"><em class="fa fa-pencil"></em></a> 
                    <a (click)="openDelete(pn)" class="btn btn-danger"><em class="fa fa-trash-o fa-lg"></em></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
