<div class="table-wrapper row">
    <div class="table-title row">
            <div class="col-sm-6">
                <h2>Quản Lý Chi Tiết Phiếu Nhập</h2>
            </div>
            <div class="col-sm-6">
                <a (click)="openCreate()" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm mới chi tiết phiếu nhập</span></a>
            </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Mã Số</th>
                <th>Số Lượng Nhập</th>
                <th>Đơn Giá Nhập</th>
                <th>Thành Tiền</th>
                <th>Mã Hàng Hóa</th>
                <th>Mã Phiếu Nhập</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="chitietphieunhap">
            <tr *ngFor="let chitietpn of chitietphieunhap" >
                <td>{{chitietpn.id}}</td>
                <td>{{chitietpn.soluongnhap}}</td>
                <td>{{chitietpn.dongianhap}}</td>
                <td>{{chitietpn.thanhtien}}</td>
                <td>{{hh.id}}</td>
                <td>{{pn.id}}</td>
                <td>
                    <a (click)="openUpdate(chitietpn)" class="btn btn-default"><em class="fa fa-pencil"></em></a> 
                    <a (click)="openDelete(chitietpn)" class="btn btn-danger"><em class="fa fa-trash-o fa-lg"></em></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
