<div class="table-wrapper row">
    <div class="table-title row">
            <div class="col-sm-6">
                <h2>Quản Lý Chi Tiết Hóa Đơn</h2>
            </div>
            <div class="col-sm-6">
                <a (click)="openCreate()" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm Mới Chi Tiết Hóa Đơn</span></a>
            </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Mã Chi Tiết Hóa Đơn</th>
                <th>Mã Hàng Hóa </th>
                <th>Mã Hóa Đơn</th>
                <th>Số Lượng</th>
                <th>Đơn Giá</th>
                <th>Thành Tiền</th>
                <th>Giá Giảm</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="chitiethoadon">
            <tr *ngFor="let cthd of chitiethoadon" >
                <td>{{cthd.id}}</td>
                <td>{{hd.id}}</td>
                <td>{{hh.id}}</td>
                <td>{{cthd.soluong}}</td>
                <td>{{cthd.dongia}}</td>
                <td>{{cthd.thanhtien}}</td>
                <td>{{cthd.giagiam}}</td>
                <td>
                    <a (click)="openUpdate(cthd)" class="btn btn-default"><em class="fa fa-pencil"></em></a> 
                    <a (click)="openDelete(cthd)" class="btn btn-danger"><em class="fa fa-trash-o fa-lg"></em></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
